<div class="container">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
  <tr>
    <td>{{name}}</td> 
    <td>{{student_score}}</td>
  </tr>
  {{/each}}
  </tbody>


</table>

</div>

