<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="http://localhost/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="http://localhost/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="http://localhost/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
  
    </script>
  </head>
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Grade Keeper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students">Students</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student Info</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Averages</a>
          <a class="dropdown-item" href="#">Tardies</a>
          <a class="dropdown-item" href="#">Manage Students</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav>
    {{{body}}}
  </body>
</html>
